<mat-sidenav class="example-sidenav " mode="side" opened="true">

    <mat-nav-list>
        <div class="text-center my-4" >
            <img width="70" src="assets/business-meeting.png">
        </div>


        <a mat-list-item class="menubtn" routerLink="Home" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>Home
        </a>

        <a mat-list-item class="menubtn" routerLink="meeting" routerLinkActive="list-item-active">
            <mat-icon>email</mat-icon> Meeting
        </a>
        <a class="menubtn" mat-list-item routerLink="status" routerLinkActive="list-item-active">
            <mat-icon>list_alt</mat-icon> Status
        </a>
        <a class="menubtn" mat-list-item routerLink="task" routerLinkActive="list-item-active">
            <mat-icon>portrait</mat-icon>
            Assign Task
        </a>
        <a class="menubtn" mat-list-item routerLink="agenda" routerLinkActive="list-item-active">
            <mat-icon>portrait</mat-icon>
            Agenda
        </a>

    </mat-nav-list>
</mat-sidenav>