<div mat-dialog-container>
    <div mat-dialog-header>
        <mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
    </div>
    <div mat-dialog-content>

        <div class="row">
            <div class="col">
                <h6>{{this.data.task_title}}</h6>
                <P>{{this.data.description}}</P>
                
            </div>
            
        </div>
        <br>
        








    </div>
    <!-- <button mat-raised-button mat-dialog-close>Ok</button> -->

    <div mat-dialog-footer>

    </div>
</div>